<br>
<div class="container addTaskContainer">
    <div>
        {{ message }}
    </div>
    <form class="display-flex collumn addTaskForm" action="/task/add_form" method="post">
        <div>
            <div class="display-flex collumn">
                <label for="title"><h1>Title</h1></label>
                <input type="text" name="title" id="title" required>
            </div>
            <br>
            <div class="display-flex justify-content center align-items center">
                <input type="datetime-local" name="time" id="time" required>hora
            </div>
        </div>
        <textarea name="content" id="content" cols="90" rows="5"></textarea>
        <div class="display-flex justify-content center align-items center">
            <button class="btn bg-green">Salvar</button>
        </div>
    </form>
</div>